* {
    margin: 0px;
    padding: 0px;
}
body, html {
    position: relative;
    height: 100%;
    background-image: url("../images/trivia.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
.one {
    position: absolute;
    top: 70%;
    left: 33%;
}
.playgame {
    font-size: 90px;
}
.gameone {
    position: absolute;
    top: 50%;
    left: 3%;
    padding: 50px;
}
.trivia {
    font-size: 70px;
    z-index: 1;
}
.gametwo {
    position: absolute;
    top: 70%;
    left: 14%;
    padding: 50px;
}
.gamethree {
    position: absolute;
    top: 75%;
    left: 41%;
    padding: 50px;
}
.gamefour {
    position: absolute;
    top: 70%;
    left: 65%;
    padding: 50px;
}
.gamefive {
    position: absolute;
    top: 50%;
    left: 74%;
    padding: 50px;
}
.back:hover {
    background-image: url("../images/colorwheel_burned.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.instructions {
    background-image: url("../images/scroll_burned.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    font-size: 30px;
}
#size {
    height:100%;
    width: 100%;    
}
.instruct {
    position: absolute;
    margin-top: 8%;
    margin-left: 38%;
    font-size: 100px;
}
.instructone {
    position: absolute;
    top: 30%;
    left: 20%;   
}
.instructtwo {
    position: absolute;
    top: 40%;
    left: 20%;   
}
.instructthree {
    position: absolute;
    top: 50%;
    left: 20%;   
}
.instructfour {
    position: absolute;
    top: 60%;
    left: 20%;   
}
.startgame {
    position: absolute;
    top: 70%;
    left: 40%;   
    font-size: 90px;
}
.question  {
    font-size: 70px;
    width: 75%;
    left: 13.3%;
    height: 18%;
    position: absolute;
    top: 17%;   
    text-align: center;
}
.timer {
    font-size: 50px;
    position: absolute;
    top: 35%;
    left: 39%;   
}
.option1 {
    font-size: 70px;
    position: absolute;
    top: 43%;
    width: 75%;
    left: 12.3%;
    text-align: center;  
}
.option2 {
    font-size: 70px;
    position: absolute;
    top: 53%;
    width: 75%;
    left: 12.3%;
    text-align: center;   
}
.option3 {
    font-size: 70px;
    position: absolute;
    top: 63%;
    width: 75%;
    left: 12.3%;
    text-align: center;   
}
.option4 {
    font-size: 70px;
    position: absolute;
    top: 74%;
    width: 75%;
    left: 12.3%;
    text-align: center;  
}
.option:hover {
    border-bottom: 5px solid lightskyblue;
    cursor: pointer;
}
.answerimg {
    height: 30%;
    border: 5px solid white;
    position: absolute;
    top: 52%;
    left: 34.5%;
    width: 32%;
}